#green_background{
    color: white;
    background-color: green;
}

#red_background{
    color: white;
    background-color: red;
}

#yellow_background{
    color: black;
    background-color: yellow;
}
